div {
  margin-bottom: 50px;
  .notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-family: "Montserrat";
    color: #ff6060;
    font-size: 15em;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .error {
    color: #ff6060;
    font-size: 2em;
  }
  .link {
    color: #ff6060;
    font-size: 1.5em;
    margin-bottom: 30px;
    margin-top: 43px;
  }
}
