.notFound {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  .title {
    color: #ff6060;
    font-size: 15em;
  }
  .error {
    color: #ff6060;
    font-size: 2em;
    text-align: center;
  }
  .link {
    color: #ff6060;
    font-size: 1.5em;
    text-align: center;
  }
}
