header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  img {
    height: 50%;
    display: flex;
  }
  nav {
    display: flex;
    gap: 30px;
    padding-right: 30px;
    list-style-type: none;

    .navlink {
      color: #ff6060;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 1.2em;
    }
  }
}
