header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  img {
    height: 50%;
    display: flex;
  }
  nav {
    display: flex;
    gap: 30px;
    padding-right: 30px;
    list-style-type: none;

    .navlink {
      color: #ff6060;
      font-weight: 400;
      font-size: 1.2em;
      text-decoration: none;
      @media only screen and (max-width: 768px) {
        text-transform: uppercase;
      }
    }

    .navlink:hover {
      text-decoration: underline;
    }
  }
}
