.banner {
  position: relative;
  img {
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  @media screen and (max-width: 768px) {
    img {
      height: 111px;
    }
    .aboutBanner {
      height: 223px;
    }
  }
  h1 {
    color: white;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
  }
}
