footer {
  display: flex;
  justify-content: center;
  background-color: black;
  img,
  p {
    display: flex;
    align-items: center;
    margin-top: 50px;
    color: white;
  }
  img {
    padding-left: 70px;
  }
}
